@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.section {
  padding: 15px 0;
  background-color: white;
}

.wrap {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

.pb-22 {
  padding-bottom: 22px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-44 {
  margin-bottom: 22px;
}

.bg-gray {
  background-color: #eaebef;
}

.bg-green {
  background-color: #348b25;
}

.title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.upp {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.bdl-green {
  padding-left: 12px;
  border-left: 3px solid #348b25;
}

.c-green {
  color: #348b25;
}

.c-white {
  color: white;
}

.fz-22 {
  font-size: 16px;
}

.btn-up {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  transform: rotate(-90deg);
  background-color: rgba(234, 235, 239, 0.5);
  border: none;
  border-radius: 5px;
  background-image: url("/arrow.28e30bbc.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
  font-size: 0;
  z-index: 5;
}

@media (min-width: 768px) {
  .section {
    padding: 60px 0;
  }

  .title {
    margin-top: 20px;
    margin-bottom: 45px;
    font-size: 24px;
  }

  .fz-22 {
    font-size: 22px;
  }

  .mb-44 {
    margin-bottom: 44px;
  }
}
@media (min-width: 1024px) {
  .section {
    padding: 90px 0 60px;
  }

  .title {
    font-size: 51px;
  }

  .btn-up {
    right: 50px;
    bottom: 50px;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-size: 50px 50px;
  }
}
.header {
  background-color: white;
}
.header__wrap {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 5px;
  display: block;
  position: relative;
}
.header__logo {
  display: block;
  position: absolute;
  top: 35px;
  -webkit-transform: translate(0, -50%);
  left: 15px;
  justify-content: center;
  align-items: center;
  max-width: 457px;
  width: 70%;
}
.header__logo-link {
  display: block;
}
.header__btn-menu {
  margin-right: -10px;
  color: #3a3a3a;
  font-size: 26px;
  border: none;
  background: none;
}
.header__nav {
  transition: all 1s;
  display: none;
  flex-direction: column-reverse;
  justify-content: center;
  text-align: center;
}
.header__nav-main-item {
  display: block;
  background-color: white;
}
.header__nav-main-link {
  color: #3a3a3a;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.07px;
}
.header__nav-main-link:hover {
  color: inherit;
}
.header__nav-main-list {
  margin: 0;
}
.header__nav-main-list2 {
  margin-left: 15px !important;
}
.header__nav-main-list3 {
  margin-left: 30px !important;
}
.header__nav-second {
  display: flex;
  flex-direction: column;
}
.header__nav-second-item {
  display: block;
}
.header__nav-second-link {
  color: #348b25;
  text-transform: uppercase;
  font-weight: 700;
}
.header .slicknav_menu {
  background-color: white;
}
.header .slicknav_menu .slicknav_icon-bar {
  background-color: #3a3a3a;
}
.header .slicknav_btn {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  background-color: white;
  color: #348b25;
}
.header .slicknav_nav {
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
}
.header .slicknav_nav a {
  color: #3a3a3a;
}
.header .slicknav_nav ul {
  margin: 0;
}
.header .slicknav_item {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .header__wrap {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 55px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .header__logo {
    display: flex;
    justify-content: flex-start;
    position: static;
    margin-bottom: -50px;
  }
  .header__logo img {
    width: 100%;
  }
  .header__nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: stretch;
  }
  .header__nav-main-list {
    display: flex;
  }
  .header__nav-main-item {
    display: inline-block;
    padding: 16px 2px;
    margin-right: auto;
  }
  .header__nav-main-item:last-child {
    margin-right: 0;
  }
  .header__nav-main-item:hover {
    background-color: #eaebef;
  }
  .header__nav-second {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
  }
  .header__nav-second-item {
    display: inline-block;
  }
  .header__nav-second-link {
    font-size: 11px;
    font-weight: 400;
    line-height: 15.89px;
    text-transform: uppercase;
    letter-spacing: 0.05px;
  }
  .header__nav-second .header__nav-second-list {
    display: block;
  }
  .header__btn-menu {
    display: none;
  }
  .header__nav-main-list2 {
    display: none;
    position: absolute;
    left: -15px;
    top: 100%;
    z-index: 10;
    width: 400px;
  }
  .header__nav-main-list2 .header__nav-main-item {
    display: block;
    padding: 16px 30px;
    text-align: left;
    position: relative;
  }
  .header__nav-main-item:last-child .header__nav-main-list2, .header__nav-main-item:nth-last-child(2) .header__nav-main-list2 {
    left: auto;
    right: 0;
  }
  .header__nav-main-item:last-child .header__nav-main-list2 {
    width: 145px;
  }
  .header__nav-main-item .header__nav-main-list3 {
    display: none;
    position: absolute;
    right: 100%;
    top: 0;
    z-index: 20;
    width: 400px;
  }
  .header__nav-main-item .header__nav-main-list3 .header__nav-main-item {
    display: block;
    padding: 16px 30px;
    text-align: left;
  }
  .header__nav-main-item:nth-child(7) .header__nav-main-list3, .header__nav-main-item:nth-child(8) .header__nav-main-list3, .header__nav-main-item:nth-child(9) .header__nav-main-list3, .header__nav-main-item:nth-child(10) .header__nav-main-list3, .header__nav-main-item:nth-child(11) .header__nav-main-list3 {
    transform: translateY(-50%);
  }
  .header .slicknav_menu {
    display: none;
  }
}
@media (min-width: 1024px) {
  .header {
    z-index: 20;
  }
  .header__wrap {
    flex-direction: row;
    align-items: flex-end;
    padding-top: 48px;
  }
  .header__logo {
    max-width: 370px;
    margin-bottom: 16px;
    transform: none;
  }
  .header__logo-link {
    width: 100%;
    height: 100%;
  }
  .header__nav-main-list {
    margin-left: 11%;
  }
  .header__nav-main-item {
    position: relative;
  }
  .header__nav-main-item:hover .header__nav-main-list2 {
    display: block;
    position: absolute;
    z-index: 40;
  }
  .header__nav-main-item:hover .header__nav-main-list2 .header__nav-main-item:hover .header__nav-main-list3 {
    display: block;
    position: absolute;
    z-index: 20;
  }
  .header__nav-second {
    justify-content: flex-end;
    margin-bottom: 0;
  }
}
@media (max-width: 1080px) and (min-width: 1024px) {
  .header__logo {
    width: 37%;
  }
}
.footer {
  background-color: #348b25;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.64px;
  padding-top: 54px;
  padding-bottom: 40px;
}
.footer__wrap {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}
.footer__logo {
  max-width: 490px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  margin-bottom: 20px;
}
.footer__contacts a {
  color: white;
}
.footer__contacts a:hover {
  color: white;
}
.footer__tels {
  text-align: center;
}
.footer__site {
  display: block;
  text-align: center;
}
.footer__email {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
.footer__calc {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.footer__calc-btn {
  padding: 10px;
  background-color: #eaebef;
  border: none;
  color: #348b25;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.03px;
}
.footer__address {
  text-align: center;
}
.footer__address-text {
  margin-bottom: 10px;
}
.footer__address-text:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .footer {
    padding-bottom: 40px;
  }
  .footer__wrap {
    flex-direction: row;
  }
  .footer__col {
    width: 50%;
  }
  .footer__logo {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 36px;
  }
  .footer__tels, .footer__site, .footer__email {
    text-align: left;
  }
  .footer__calc {
    justify-content: flex-end;
    margin-bottom: 50px;
  }
  .footer__calc-btn {
    padding: 5px 40px;
  }
  .footer__address {
    text-align: right;
  }
  .footer__address-text {
    margin-bottom: 30px;
  }
}
.header-search {
  position: relative;
}
.header-search__input-group {
  height: 21px;
}
.header-search__input-group-group {
  display: flex;
  align-items: center;
}
.header-search__input {
  width: 100%;
  height: 100%;
  border: 1px solid #348b25;
  padding: 1px 20px 1px 5px;
}
.header-search__input-group {
  display: flex;
  align-items: center;
}
.header-search__btn {
  position: absolute;
  top: 1px;
  right: 0;
  width: 21px;
  height: 21px;
  padding: 0;
  background: none;
  border: none;
  border-left: none;
  border-radius: 0;
  color: #348b25;
}

@media (min-width: 768px) {
  .header-search__input-group {
    width: 136px;
  }
}
.intro {
  padding: 15px 0;
  background-color: #eaebef;
}

.intro__wrap {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

.intro__title {
  margin-bottom: 20px;
  color: #3a3a3a;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.07px;
}

.intro__text {
  margin-bottom: 10px;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 400;
}

.intro__link {
  color: #348b25;
  font-weight: bold;
  letter-spacing: 0.32px;
}

.intro__img {
  margin-top: 20px;
}

.intro__logo {
  display: none;
}

@media (min-width: 768px) {
  .intro {
    padding: 60px 0;
  }

  .intro__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .intro__title {
    width: 100%;
  }

  .intro__text-wrap {
    width: 60%;
  }

  .intro__img {
    width: 40%;
  }

  .intro__logo-img {
    width: 387px;
    height: 26px;
  }
}
@media (min-width: 1024px) {
  .intro {
    padding: 90px 0 60px;
  }

  .intro__title {
    margin-bottom: 40px;
    font-size: 51px;
    line-height: 64.29px;
  }
  .intro__title--line {
    padding-right: 40%;
  }

  .intro__text-wrap {
    padding-right: 40px;
    padding-bottom: 70px;
  }

  .intro__img {
    position: relative;
    margin-top: -80px;
    padding-right: 21px;
    z-index: 2;
  }

  .intro__logo {
    display: block;
    padding: 19px 53px;
    padding-right: calc(40% + 45px);
    margin-top: -80px;
    margin-bottom: 30px;
    margin-left: auto;
    background-color: white;
  }
}
.questions {
  position: relative;
  padding: 15px 0;
  background-color: #eaebef;
  background-image: url("/questions-bg-tablet.262aa4b9.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.questions::before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 2000px;
  background-color: white;
  opacity: 0.5;
  z-index: 0;
}

.questions__wrap {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
  z-index: 1;
}

.questions__title {
  margin-bottom: 20px;
  color: #348b25;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.07px;
}

.questions__list {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

.questions__item {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.32px;
}
.questions__item:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .questions {
    padding: 60px 0;
  }

  .question__wrap {
    padding: 0 30px;
  }

  .questions__title {
    margin-bottom: 30px;
    padding: 0 30px;
    font-size: 24px;
  }

  .questions__list {
    display: flex;
    flex-direction: column;
  }

  .questions__item {
    box-sizing: border-box;
    margin-bottom: 24px;
    width: 50%;
  }
  .questions__item:nth-child(2n) {
    align-self: flex-end;
  }
  .questions__item:nth-child(4n+1) {
    margin-left: 20px;
  }
  .questions__item:nth-child(4n+2) {
    margin: 0 10px;
    margin-bottom: 30px;
  }
  .questions__item:nth-child(4n+3) {
    margin-right: 20px;
    margin-bottom: 0;
  }
  .questions__item:nth-child(4n) {
    margin-top: -15px;
  }
}
@media (min-width: 1024px) {
  .questions {
    padding: 90px 0 350px;
  }
  .questions::before {
    display: none;
  }

  .question__wrap {
    padding: 0 30px;
  }

  .questions__title {
    padding: 0 200px;
    margin-bottom: 72px;
    font-size: 48px;
    font-weight: 700;
    line-height: 61.39px;
  }

  .questions__item:nth-child(4n+1) {
    width: 350px;
    margin-left: 17%;
  }
  .questions__item:nth-child(4n+2) {
    width: 280px;
    margin-right: 8.5%;
    margin-left: 0;
    margin-bottom: 30px;
  }
  .questions__item:nth-child(4n+3) {
    width: 350px;
    margin-left: 8.5em;
    margin-right: 0;
  }
  .questions__item:nth-child(4n) {
    width: 370px;
    margin-top: -20px;
  }
}
.reorder {
  padding: 15px 0;
  background-color: white;
}

.reorder__wrap {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

@media (min-width: 768px) {
  .reorder {
    padding: 60px 0;
  }
}
@media (min-width: 1024px) {
  .reorder {
    padding: 90px 0 60px;
  }
}
.contact__img {
  width: 165px;
  height: 224px;
  flex-shrink: 0;
  margin: 20px auto;
  background-color: #eaebef;
}

.contact__info-text {
  font-size: 18px;
}

@media (min-width: 768px) {
  .contact {
    display: flex;
    align-items: center;
    padding: 60px 0;
  }

  .contact__info-text {
    font-size: 22px;
  }

  .contact__text {
    margin-bottom: 40px;
  }

  .contact__img {
    margin-right: 30px;
    margin-left: 0;
  }
}
@media (min-width: 1024px) {
  .contact {
    padding: 80px 0 60px;
  }
}
.funct {
  padding: 15px 0;
  background-color: #eaebef;
}

.funct__wrap {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

.funct__title {
  max-width: 470px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.07px;
}

.funct__block {
  position: relative;
  max-width: 400px;
}
.funct__block::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}
.funct__block:nth-child(7n+1) {
  margin-right: 10px;
  margin-left: auto;
}
.funct__block:nth-child(7n+1)::before {
  top: 20px;
  left: 20px;
  width: 420px;
  height: 275px;
  background-image: url("/1.6bdff62a.png");
}
.funct__block:nth-child(7n+2) {
  margin-left: 20px;
  margin-right: auto;
}
.funct__block:nth-child(7n+2)::before {
  top: -10px;
  left: -20px;
  width: 280px;
  height: 420px;
  background-image: url("/2.3389e815.png");
}
.funct__block:nth-child(7n+3) {
  margin-right: 10px;
  margin-left: auto;
}
.funct__block:nth-child(7n+3)::before {
  right: 30px;
  width: 420px;
  height: 275px;
  background-image: url("/3.33dc13e3.png");
}
.funct__block:nth-child(7n+4) {
  margin-left: 10px;
  margin-right: auto;
}
.funct__block:nth-child(7n+4)::before {
  left: 50px;
  width: 420px;
  height: 275px;
  background-image: url("/4.2dc51324.png");
}
.funct__block:nth-child(7n+5) {
  margin-right: 30px;
  margin-left: auto;
}
.funct__block:nth-child(7n+5)::before {
  left: -40px;
  top: 30px;
  width: 420px;
  height: 275px;
  background-image: url("/5.666f5606.png");
}
.funct__block:nth-child(7n+6) {
  margin-left: 10px;
  margin-right: auto;
}
.funct__block:nth-child(7n+6)::before {
  bottom: -30px;
  width: 420px;
  height: 275px;
  background-image: url("/6.973a3fca.png");
}
.funct__block:nth-child(7n) {
  margin-right: 10px;
  margin-left: auto;
}
.funct__block:nth-child(7n)::before {
  top: -20px;
  right: -20px;
  width: 275px;
  height: 300px;
  background-image: url("/7.e0b6bdbe.png");
}

.funct__block-wrap {
  position: relative;
  padding: 10px;
  margin-bottom: 40px;
  background-color: white;
  z-index: 2;
}
.funct__block-wrap:nth-child(7n+2) {
  margin-left: 20px;
}
.funct__block-wrap:nth-child(7n+3) {
  margin-right: 10px;
}

.funct__header {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.44px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .funct {
    padding: 60px 0;
  }

  .funct__title {
    margin-bottom: 63px;
    max-width: 470px;
    margin-bottom: 63px;
    font-size: 51px;
  }

  .funct__block {
    width: 40%;
    max-width: 420px;
    margin-bottom: 100px;
  }
  .funct__block:nth-child(7n+1) {
    margin-right: 10px;
    margin-left: 0;
  }
  .funct__block:nth-child(7n+1)::before {
    top: 115px;
    right: -160px;
    left: auto;
  }
  .funct__block:nth-child(7n+2) {
    width: 36%;
    margin-left: auto;
    margin-right: 14%;
    margin-bottom: -234px;
  }
  .funct__block:nth-child(7n+2)::before {
    top: -225px;
    left: auto;
    right: -130px;
  }
  .funct__block:nth-child(7n+3) {
    margin-right: auto;
    margin-left: 6%;
    margin-bottom: 9px;
  }
  .funct__block:nth-child(7n+3)::before {
    right: auto;
    left: -70px;
    bottom: -230px;
  }
  .funct__block:nth-child(7n+4) {
    margin-left: auto;
    margin-right: 17.5%;
    margin-bottom: 65px;
  }
  .funct__block:nth-child(7n+4)::before {
    left: auto;
    right: -200px;
    bottom: -100px;
  }
  .funct__block:nth-child(7n+5) {
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 100px;
  }
  .funct__block:nth-child(7n+5)::before {
    left: auto;
    right: -330px;
    bottom: -45px;
    top: auto;
  }
  .funct__block:nth-child(7n+6) {
    margin-left: 10px;
    margin-bottom: -607px;
  }
  .funct__block:nth-child(7n+6)::before {
    bottom: auto;
    left: -70px;
    bottom: -83px;
  }
  .funct__block:nth-child(7n) {
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 0;
  }
  .funct__block:nth-child(7n)::before {
    top: -135px;
    right: -43px;
  }

  .funct__block-wrap {
    padding: 30px;
  }
}
@media (min-width: 1024px) {
  .funct {
    padding: 90px 0 60px;
  }

  .funct__block {
    font-size: 22px;
  }
  .funct__block:nth-child(7n+1)::before {
    right: -330px;
  }
  .funct__block:nth-child(7n)::before {
    top: -290px;
    right: 43px;
  }
}
* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #3a3a3a;
  line-height: 1.56;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.07px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.07px;
}

b {
  font-weight: 700;
}

a {
  color: #348b25;
}
a:hover {
  color: #49963b;
}

@media (max-width: 480px) {
  h1 {
    font-size: 30px;
    line-height: 1.56;
  }
}

/*# sourceMappingURL=/style.a08d0c2a.css.map */