body {
  font-family: Poppins, sans-serif!important;
  font-size: 14px;
  line-height: 24px;
  color: #fafafa !important;
  width: 100%;
}

nav button span {
	background-color: #000;
}


.navbar {
	margin-bottom: 0 !important;
	padding: 17px 0;
	box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.15);
}

.navbar-brand{
	padding: 0 !important;
}

.navbar-nav li {
	margin-right: 20px;
}


.navbar-nav li a{
	color: #777777 !important;
	text-transform: uppercase;
	font-weight: bold;
  	position: relative;
  	-webkit-transition: all 0.2s;
}


.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #000000 !important;
  background-color: transparent!important;
}

header {
	background: #ffffff;
}

header .navbar-nav li a:before {
	content: '';
	position: absolute;
	right: 100%;
	top: 7px;
	margin-right: -11px;
	height: 1px;
	width: 20px;
	background-color: #000000;
	-webkit-transform: translateY(18px) scale(0);
    transform: translateY(18px) scale(0);
    -webkit-transition: all 0.2s;
}

header .navbar-nav li:last-child a:before{
	display: none;
}

header .navbar-nav li a:hover::before{
	-webkit-transform: translateY(18px) scale(1);
    transform: translateY(18px) scale(1);
}

.navbar-nav button {
	background-color: rgba(0,0,0,0);
	border: none;
	border-radius: 0px;
	color: #000000;
	height: 100%;
}

.navbar-nav button span{
	background-color: transparent;
	color: #777;
	font-size: 12px;
}

.navbar-nav .dropdown-menu {
	padding: 0 !important;
}

.navbar-nav button span .form-control {
	color: #777;
}

.navbar-nav button:hover{
	background-color: transparent;
	color: #000;
}

.navbar-nav .open button{
	background-color: #000!important;
}

.navbar-nav input{
	border-radius: 0!important;

}

#photo {
	background-color: #fafafa;
	padding: 35px 0 70px;
}


#photo img {
	margin-bottom: 20px;
	/* width:100%; */
}

#promo {
	/*background: url("../img/bg-promo.jpg");*/
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

#promo .jumbotron{
	padding: 260px 0 165px;
	margin: 0;
	background-color: rgba(0,0,0,0); 
}

#promo h1 span {
	background-color: #000;
	color: #fff;
	padding: 0px 40px;
	text-transform: uppercase;
	font-size: 42px;
	font-weight: 200;
	letter-spacing: 3px;
}
#promo h4{
	padding: 35px;
	text-transform: uppercase;
	color: #000;
	font-weight: 300;
	letter-spacing: 5px;
}


.pt20{
	padding-top: 20px;
}

.carousel {
	position: relative;
}

.carousel-inner .item-1{
	background-image: url("../img/bg-promo.jpg") !important;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

.carousel-inner .item-2{
	background-image: url("../img/bg-promo2.jpg") !important;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

.carousel-indicators li{
	background-color: rgb(255, 255, 255) !important;
}

.carousel-control {
	opacity: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;	
}

.carousel-control.right, 
.carousel-control.left {
      background-image: none !important;
}

.carousel-control .glyphicon {
	width: 42px;
	height: 42px;
	line-height: 42px;	
	border-radius: 50%;
	border: 1px solid #fff;
}

.carousel-control:hover .glyphicon{
	background-color: #000;
	width: 42px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
	border: none;
	color: #fff;
	-webkit-transition: all 0.5s;
	transition: all 0.5s; 
}

.carousel-indicators .active{
	background-color: #fff;
	border: 3px solid #000;
}


#photo .navbar-nav{
	width: 100%;
    text-align: center;
}
#photo .navbar-nav li{
	float: none;
    display: inline-block;
    margin: 0 15px;
}

#photo .navbar-nav {
	border-top: 2px solid #e1e1e1;
	border-bottom: 2px solid #e1e1e1;
}

#photo .navbar-nav li:after{
	content: "/";
	color: #e1e1e1;
	font-size: 30px;
	font-weight: lighter;
	position: absolute;
	top: 29%;
	right: -20px; 
}

#photo .navbar-nav li:last-child:after{
	content: "";
}

#photo .photos a{
	display: block;
	position: relative;
}
#photo .photos a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
	opacity: 0; 
	-webkit-transition: all 0.5s;
	transition: all 0.5s; 
}

#photo .photos a:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url("../img/hover-icon.png") center no-repeat;
	opacity: 0; 
	-webkit-transition: all 0.5s;
	transition: all 0.5s; 
}

#photo .photos a:hover:before,
#photo .photos a:hover:after { opacity: 1; }


#photo button{
	color: #fff;
	background-color: #777;
	margin-top: 20px;
	width:125px;
	-webkit-transition: all 0.2s;
}

#photo button:hover{
	background-color: #000;
}

footer {
	background-color: #fff;
	box-shadow: 0 -3px 5px 1px rgba(163, 163, 163, 0.1);
}

footer img {padding: 60px 0 41px;}

footer .fa{ 
	font-size: 18px;
	color:#777777;
	padding: 23px 25px;
}

footer .fa:hover{
	color: #000;
}

footer .copy p{
	color: #777;
	margin-bottom: 45px;
	margin-top: 30px;
	text-transform: uppercase;
	font-weight: 400;
}

footer .copy p a{
	color: #000000;
}

footer .row {
	border-bottom: 1px solid #ebebeb;
}



/* --About-- */

#promo-about {
	position: relative;
	padding: 100px 0;
	background: url('../img/about/promo.png');
	background-color: #f0f0f2;
	background-position: right center;
	background-repeat: no-repeat;


}

#promo-about h1 span {
	background-color: #000;
	color: #fff;
	padding: 0 32px;
	text-transform: uppercase;
	font-size: 48px;
	font-weight: 300;
	letter-spacing: 5px;
	margin-bottom: 44px;	
}

#promo-about p {
	text-transform: uppercase;
	font-size: 18px;
	color: #000;
	z-index: 2;
	margin-top: 39px;
	letter-spacing: 8px;
}

#about-team{
	padding-top: 71px;
	padding-bottom: 40px;
	background-color: #fafafa;	
}

#about-team h4 {
	color: #000;
	letter-spacing: 8px;
	text-transform: uppercase;
	margin-bottom: 32px;
}

#about-team p {
	color: #808080;
	line-height: 29px;
	font-size: 12px;
}

#about-team .first {
	margin-bottom: 30px;
}

#about-team .skills h4{
	margin-top: 35px;
}

#about-team .skills h5{
	color: #000;
	font-weight: 700;
}

#about-team .skills .bar{
	height: 2px;
	width: 100%;
	position: relative;
	background-color: #ebebeb;
	border: 3px solid #ebebeb;
	position: relative;
	margin-bottom: 34px;
}

#about-team .skills .scroll {
	position: absolute;
	background-color: #000;
	height: 2px;
	bottom: -1px;
	left: 1px;
}
#about-team .skills .ps {
	width: 90%;
}

#about-team .skills .brand {
	width: 95%;
}

#about-team .skills .photo {
	width: 50%;
}

#about-team .skills .web {
	width: 85%;
}

#about-team .team-img img {
	width: 535px;
}

#about-members {
	background-color: #fafafa;
	padding-bottom: 87px;
}

#about-members .title {
	text-align: center;
}

#about-members .title h1 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 30px;
	color: #000;
	z-index: 2;
	margin-top: 44px;
	letter-spacing: 11px;
}

#about-members .title p {
	display: inline-block;
	width: 50%;
	margin-top: 19px;
	margin-bottom: 55px;
	line-height: 32px;
	font-size: 12px;
}

#about-members .member-object img {
	padding: 11px 45px 0;
	background-color: #eee;

}
#about-members .member-object .discr {
	max-width: 358px;
	background: #ffffff;
	padding: 5px 33px;
	color: #a3a3a3;
}

#about-members .member-object .discr h2 {
	margin-bottom: 6px;
	color: #041608;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 23px;
	letter-spacing: 2.56px;

}

#about-members .member-object .discr h3 {
	color: #777777;
	margin-top: 7px;
	margin-bottom: 14px;
	font-size: 16px;
}
#about-members .member-object .discr p {
	line-height: 23px;
}

/* Portfolio */

#portfolio-heading {
	position: relative;
	padding: 100px 0;
	background: url('../img/portfolio/bg-heading.png');
	background-color: #e2e2e2;
	background-position: right center;
	background-repeat: no-repeat;
}

#portfolio-heading h1 span {
	background-color: #000;
	color: #fff;
	padding: 0 32px;
	text-transform: uppercase;
	font-size: 48px;
	font-weight: 300;
	letter-spacing: 5px;
	margin-bottom: 44px;
}

#portfolio-heading p {
	text-transform: uppercase;
	font-size: 18px;
	color: #000;
	z-index: 2;
	margin-top: 39px;
	letter-spacing: 8px;
}

#contact-info {
	color: #000;
}

#contact-info .title{
	padding-bottom: 18px;
}

#contact-info .title h1 {
	color: #000000;
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 12px;
	line-height: 24px;
	text-transform: uppercase;
}

#contact-info .title h2 {
	color: #2f302f;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.4px;
	line-height: 30px;
}
#contact-info .line {
	width: 60px;
	height: 1px;
	background-color: #000000;
}

.mix-target {
	display: none;
}