@media (max-width: 1200px) and (min-width: 768px)
  #pricing .item
    width: 170px
    .price
      &:after
        border-left: 170px solid transparent
      &:before
        border-right: 170px solid transparent
  #download .item 
    padding-left: 80px
    padding-top: 15px
    padding-bottom: 15px 
    h2
      font-size: 26px
    span
      font-size: 14px
    i
      width: 70px
      line-height: 70px
@media (max-width: 1200px)
  #screen-shots .screen
    box-shadow: none
    

@media (max-width: 990px) and (min-width: 564px) 
  .banner-picture
    background-size: 35vw !important
@media (max-width: 564px)
  .banner-picture
    display: none

@media (max-width: 768px)
  #banner .navbar li
    margin-left: 5px !important

@media (max-width: 451px)
  #banner
    .logo
      margin-left: 15px !important
    ul
      margin-top: 20px  !important
      margin-left: 15px !important

  
  