html, body {
  max-width: 100%;
  overflow-x: hidden;
}

ul {
  padding: 0;
  margin: 0 !important;
  list-style: none;
}

a:hover {
  text-decoration: none !important;
}

button:hover {
  cursor: pointer;
}

#banner {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background-color: #f7fafc;
  background-image: -webkit-gradient(linear, left top, right top, from(#fd712c), to(#f21780));
  background-image: linear-gradient(to right, #fd712c 0%, #f21780 100%);
  padding-bottom: 214px;
  position: relative;
}

#banner .header {
  padding: 53px 0;
}

#banner .header .logo {
  font-family: 'Dosis', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  vertical-align: bottom;
}

#banner .header .navbar {
  padding: 0;
  font-size: 14px;
  font-weight: 400;
}

#banner .header .navbar li {
  display: inline-block;
  margin-left: 45px;
}

#banner .header .navbar li a {
  color: #ffffff;
}

#banner .header .navbar li .btn-download {
  padding: 12px 30px;
  border-radius: 20px;
  background-color: #ffffff;
  color: #222222;
  font-weight: 600;
  line-height: 24px;
}

#banner .text {
  margin-top: 84px;
  z-index: 10;
}

#banner .text h1 {
  margin-bottom: 20px;
  font-family: 'Dosis', sans-serif;
  font-size: 54px;
  font-weight: 600;
}

#banner .text p {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 24px;
}

#banner .text li {
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 24px;
}

#banner .text .fa-check-circle {
  margin-right: 20px;
}

#banner .text .btn-start {
  margin-top: 19px;
  padding: 13px 40px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  background-clip: padding-box;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
}

#banner .banner-picture {
  position: absolute;
  background-image: url("../img/banner-iphones.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50vw;
  width: 100%;
  height: 90%;
  bottom: 0;
}

#features {
  padding-top: 117px;
}

#features .item {
  padding-left: 100px;
  position: relative;
}

#features .item h2 {
  color: #222222;
  font-family: 'Dosis', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}

#features .item p {
  margin-top: 16px;
  margin-bottom: 53px;
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

#features .item .icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 75px;
  height: 75px;
  border: 1px solid #eeeeee;
  border-radius: 50%;
  color: #f31f79;
  font-size: 24px;
  font-weight: 400;
  line-height: 75px;
  text-align: center;
}

#features .line {
  margin-top: 40px;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
}

#dont-leave {
  margin-top: 120px;
  margin-bottom: 120px;
}

#dont-leave .title {
  margin-top: 55px;
  margin-bottom: 70px;
  margin-left: 15px;
}

#dont-leave .title h1 {
  color: #222222;
  font-family: 'Dosis', sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 30px;
}

#dont-leave .title p {
  margin-top: 21px;
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

#dont-leave .content {
  margin-left: 15px;
}

#dont-leave .content p {
  margin-bottom: 28px;
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

#dont-leave .content li {
  margin-bottom: 10px;
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

#dont-leave .content li i {
  margin-right: 20px;
  color: #222222;
}

#screen-shots {
  padding-top: 120px;
  background-color: #f7fafc;
  position: relative;
}

#screen-shots h1 {
  color: #222222;
  font-family: 'Dosis', sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}

#screen-shots p {
  margin-top: 26px;
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

#screen-shots #carousel {
  width: 100%;
  height: 700px;
}

#screen-shots #carousel .container {
  display: relative;
}

#screen-shots #carousel img {
  display: hidden;
  cursor: pointer;
  width: 360px;
  height: 500px;
  -webkit-box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
}

#screen-shots #next, #screen-shots #prev {
  position: absolute;
  top: 62%;
  width: 40px;
  height: 40px;
  -webkit-transition: all .5s;
  transition: all .5s;
  color: transparent;
}

#screen-shots #next {
  left: 50%;
  margin-left: 630px;
  background-image: url("../img/right_arrow.png");
}

#screen-shots #next:hover {
  background-image: url("../img/right_arrow_hover.png");
}

#screen-shots #prev {
  right: 50%;
  margin-right: 630px;
  background-image: url("../img/left_arrow.png");
}

#screen-shots #prev:hover {
  background-image: url("../img/left_arrow_hover.png");
}

#pricing {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 120px;
}

#pricing h1 {
  margin-bottom: 23px;
  font-family: 'Dosis', sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 30px;
}

#pricing p {
  margin: 0px auto 80px;
  width: 50vw;
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

#pricing .item {
  width: 262px;
  padding: 10px 0 40px;
  margin: 0 auto 5px;
  background-color: #f7fafc;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#pricing .item h4 {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

#pricing .item .price {
  padding-top: 18px;
  padding-bottom: 36px;
  background-color: #ffffff;
  color: #333333;
  font-family: 'Dosis', sans-serif;
  font-size: 48px;
  font-weight: 600;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#pricing .item .price sub, #pricing .item .price sup {
  font-size: 18px;
}

#pricing .item .price:after {
  content: '';
  position: absolute;
  top: 90px;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 72px solid #f7fafc;
  border-left: 262px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#pricing .item .price:before {
  content: '';
  position: absolute;
  top: 90px;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 72px solid #f7fafc;
  border-right: 262px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#pricing .item ul {
  padding-top: 28px;
  padding-bottom: 38px;
  padding-left: 34px;
  padding-right: 26px;
  text-align: center;
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}

#pricing .item ul li {
  margin-bottom: 4px;
  position: relative;
}

#pricing .item ul li:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px dashed #eeeeee;
}

#pricing .item ul li:last-child:after {
  width: 0;
}

#pricing .item .start {
  display: block;
  margin-bottom: 14px;
  color: #aaaaaa;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
}

#pricing .item .btn-buy {
  display: inline-block;
  padding: 0px 42px;
  border-radius: 20px;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#pricing .item:hover, #pricing .active {
  background-color: #fff;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

#pricing .item:hover .price, #pricing .active .price {
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, from(#fd712c), to(#f21780));
  background-image: linear-gradient(to right, #fd712c 0%, #f21780 100%);
}

#pricing .item:hover .price:after, #pricing .active .price:after {
  border-bottom: 72px solid #ffffff;
}

#pricing .item:hover .price:before, #pricing .active .price:before {
  border-bottom: 72px solid #ffffff;
}

#pricing .item:hover .btn-buy, #pricing .active .btn-buy {
  border: 3px solid rgba(0, 0, 0, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(#fd712c), to(#f21780));
  background: linear-gradient(to right, #fd712c 0%, #f21780 100%);
  background-clip: padding-box;
  color: #ffffff;
}

#video {
  height: 400px;
}

#video .video_wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #000;
}

#video .video_wrapper_full {
  padding-top: 315px;
}

#video .videoIframe {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

#video .videoPoster {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg-video.jpg");
  background-size: auto 100%;
  background-position: center center;
  border: none;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 800ms, height 0s;
  transition: opacity 800ms, height 0s;
  -webkit-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}

#video .videoPoster i {
  color: #ffffff;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, right top, from(#fd712c), to(#f21780));
  background-image: linear-gradient(to right, #fd712c 0%, #f21780 100%);
  font-size: 25px;
  line-height: 75px;
  text-align: center;
}

#video .videoPoster i:before {
  margin-left: 5px;
}

#video .videoPoster:hover {
  cursor: pointer;
}

#video .videoWrapperActive .videoPoster {
  opacity: 0;
  height: 0;
  -webkit-transition-delay: 0s, 800ms;
  transition-delay: 0s, 800ms;
}

#testimonials {
  padding-top: 120px;
  padding-bottom: 90px;
  text-align: center;
}

#testimonials h1 {
  margin-bottom: 25px;
  color: #222222;
  font-family: 'Dosis', sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 30px;
}

#testimonials .subtitle {
  width: 50vw;
  margin: 0 auto 67px;
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

#testimonials .item {
  margin: 0 20px;
  width: 360px;
  height: 273px;
  padding: 40px;
  text-align: left;
  background-color: #f7fafc;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#testimonials .item p {
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

#testimonials .item .customer {
  padding-left: 100px;
  position: relative;
}

#testimonials .item .customer h1 {
  font-size: 18px;
  text-align: left;
  margin-bottom: 0;
}

#testimonials .item .customer span {
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}

#testimonials .item .customer img {
  position: absolute;
  left: 0;
  top: 0;
}

#testimonials .item:hover, #testimonials #pricing .active, #pricing #testimonials .active {
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

#testimonials .slick-track {
  padding-top: 10px;
  height: 313px;
}

#testimonials .slick-next, #testimonials .slick-prev {
  width: 40px;
  height: 40px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#testimonials .slick-next {
  right: -60px;
  background-image: url("../img/right_arrow.png");
}

#testimonials .slick-next:hover {
  background-image: url("../img/right_arrow_hover.png");
}

#testimonials .slick-prev {
  left: -60px;
  background-image: url("../img/left_arrow.png");
}

#testimonials .slick-prev:hover {
  background-image: url("../img/left_arrow_hover.png");
}

#testimonials .slick-next:before, #testimonials .slick-prev:before {
  content: " " !important;
}

#download {
  padding: 120px 0;
  background-color: #222222;
  background-image: -webkit-gradient(linear, left top, right top, from(#fd712c), to(#f21780));
  background-image: linear-gradient(to right, #fd712c 0%, #f21780 100%);
}

#download h1 {
  margin-bottom: 90px;
  color: #ffffff;
  font-family: 'Dosis', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 38px;
  text-align: center;
}

#download .item {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 130px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  background-color: #ffffff;
  position: relative;
}

#download .item h2 {
  margin-bottom: 6px;
  color: #222222;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 24px;
}

#download .item span {
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

#download .item i {
  position: absolute;
  left: 0;
  top: 0;
  width: 115px;
  text-align: center;
  font-size: 50px;
  line-height: 115px;
  background-color: transparent;
  text-shadow: -3px 0 rgba(0, 0, 0, 0.1), 0 3px rgba(0, 0, 0, 0.1), 3px 0 rgba(0, 0, 0, 0.1), 0 -3px rgba(0, 0, 0, 0.1);
  color: #777777;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#download .item:hover i, #download #pricing .active i, #pricing #download .active i {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, #fd712c), color-stop(70%, #f21780));
  background-image: linear-gradient(to right, #fd712c 40%, #f21780 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

footer {
  padding: 60px 0;
  background-color: #222222;
  text-align: center;
  color: #ffffff;
}

footer a {
  color: #ffffff;
  font-size: 18px;
  margin: 0 12px;
}

footer a:hover {
  color: #f31f79;
}

footer p {
  margin-top: 18px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

@media (max-width: 1400px) {
  #screen-shots #next, #screen-shots #prev {
    display: none;
  }
}

@media (max-width: 1200px) and (min-width: 768px) {
  #pricing .item {
    width: 170px;
  }
  #pricing .item .price:after {
    border-left: 170px solid transparent;
  }
  #pricing .item .price:before {
    border-right: 170px solid transparent;
  }
  #download .item {
    padding-left: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #download .item h2 {
    font-size: 26px;
  }
  #download .item span {
    font-size: 14px;
  }
  #download .item i {
    width: 79px;
    line-height: 85px;
  }
}

@media (max-width: 990px) and (min-width: 564px) {
  .banner-picture {
    background-size: 35vw !important;
  }
}

@media (max-width: 564px) {
  #screen-shots #carousel img {
    width: 320px;
    height: auto;
  }
  .banner-picture {
    display: none;
  }
}

@media (max-width: 768px) {
  #banner .navbar li {
    margin-left: 5px !important;
  }
}

@media (max-width: 451px) {
  #banner {
    padding-bottom: 50px;
  }
  #banner .header {
    padding: 10px 0;
  }
  #banner .navbar li .btn-download {
    padding: 9px 15px !important;
  }
  #banner .text {
    margin-top: 50px;
  }
  #banner .logo {
    margin-left: 15px !important;
  }
  #banner ul {
    margin-top: 20px  !important;
    margin-left: 15px !important;
  }
  #dont-leave {
    margin: 60px 0;
  }
  #dont-leave img {
    width: 100%;
  }
  #screen-shots {
    padding-top: 50px;
  }
  #screen-shots #carousel {
    height: 500px;
  }
  #screen-shots #carousel img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #pricing {
    padding-top: 60px;
  }
  #pricing p {
    margin: 30px 0;
    width: 100%;
  }
  #testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #testimonials .subtitle {
    width: 100%;
  }
  #testimonials .item {
    padding: 22px;
  }
  #download {
    padding: 50px 0;
  }
  #download h1 {
    margin-bottom: 30px;
  }
  #download .item {
    padding-left: 100px;
  }
  #download .item i {
    width: 100px;
  }
  footer {
    padding: 14px 0;
  }
}
/*# sourceMappingURL=style.css.map */